.card-node {
    position: absolute;
    top: 0;
    left: 0;
    
    user-select: none;
    touch-action: none;
}

.card-node-back {

}

.card-content {
    position: relative;
    width: 100%;
    height: 100%;
    
}


.card-bg {
    pointer-events: none;
}



.card-controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
    
}


.port {
    position: absolute;
    width: 12px;
    height: 12px;
    background: #333;
    border: 2px solid #555;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    cursor: crosshair;
}

.port:hover {
    background: #555;
    border-color: #777;
    transform: translateY(-50%) scale(1.2);
}

.port-in {
    left: -6px;
}

.port-out {
    right: -6px;
}
